# ==========================================
# AlumiGest - Variáveis de Ambiente de Exemplo
# ==========================================

# Banco de Dados PostgreSQL
POSTGRES_DB=alumigest_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Interface Web PgAdmin 4
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@alumigest.com
PGADMIN_DEFAULT_PASSWORD=admin

# Backend Spring Boot
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Frontend React / Vite
FRONTEND_PORT=3000
